/myvenv
/.env
__pycache__/
*.log
*.pot
*.pyc
*.pyo
*.code-workspace
*.zip
*.DS_Store
*/migrations/*
!*/migrations/__init__.py
db.sqlite3
db.sqlite3-journal
/media
/1be6f01a00c21a0312294256182753f5_venv
/gunicorn.conf
/logs
/serviceAccountKey.json
/52570a0103e816caa4b1c40608510824_venv